#lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    border-radius: 15px;
    /* Fügt abgerundete Ecken hinzu */
    padding: 20px;
    /* Fügt Innenabstand hinzu */
}

#lightbox img {
    max-width: 95%;
    max-height: 95%;
    margin: auto;
    border: 5px solid white;
    /* Fügt einen weißen Rand um das Bild hinzu */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    /* Fügt einen leichten Schatten um das Bild hinzu */
}

/* Stil für die Tabelle */
#results table {
    width: 100%;
    border-collapse: collapse;
}

/* Stil für die Tabellenzellen */
#results td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Stil für jede zweite Zeile */
#results tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Stil beim Überfahren einer Zeile */
#results tr:hover {
    background-color: #ddd;
}

.container {
    padding-bottom: 1.4em;
}

#clear-input {
    padding: 0 1.5em;
    color: red;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1em;
}

.plate {
    padding-left: 1em;
}

#accordionTable .accordion-body {
    padding: 0 !important;
}

#accordionTable .accordion-collapse div table {
    margin-bottom: 0;
}